@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tus otros estilos si los hay... */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  margin: 0;
  padding: 0;
}
